comments-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.comment-list{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    overflow: scroll;
    height: 35em;


    border-top: orange 2px dotted;
    padding-top: 1.5em;
    margin-top: 1.5em;
}